*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #f4f6f9;
    color: #181c27;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  }

#nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid rgb(201, 199, 199);
    height: 30px;
}


.menu-item {
   border: 1px solid rgb(201, 199, 199);
   /* display: inline-block; */
   position: relative;
   margin: 5px 15px 0 0;
   width: 20px;
   height: 20px;
   background-size: 22px;
   background-repeat: no-repeat;
   background-position: center;
   /* margin-top: 5px; */
   cursor: pointer;
}

.menu-item .submenu {
    display: none;
    position: absolute;
    height: 350px;
    width: 220px;
    margin: 23px 0 0 -200px;
    /* margin-left: -180px; */
    box-sizing: content-box;
    cursor: default;
    /* border: 1px solid rgb(201, 199, 199); */
   
}

.menu-item .submenu--active {
    display: block;
}

.menu-item:first-child {
    background-image: url(../img/linkedin.png);
}

.menu-item:nth-child(3n +2) {
    background-image: url(../img/percentage_3932.png);
}

.menu-item:last-child {
    background-image: url(../img/pazl.png);
    border: none;
    margin-right: 100px;
}

.slider  {
    border: 1px solid rgb(201, 199, 199);
    overflow: hidden;
}

.slider-track {
    height: 300px;
    border-bottom: 1px solid rgb(201, 199, 199);
    display: flex;
    transition: .2s;
}

.item {
    text-align: center;
    height: 250px;
}

.div-wrapper {
    overflow-y: auto;
    position: relative;
    height: 250px;
}

.slideTextHeader {
    height: 50px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgb(201, 199, 199);
}

.slideText {
    font-size: 10px;
    padding-top: 100px;
}

.slideBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 180px;
    border: 1px solid rgb(201, 199, 199);
    margin: 10px auto 10px;
}

.div-logo {
    object-fit: cover;
    background-image: url(../img/slide1.jpg);
    width: 60px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(201, 199, 199);
    padding: 0 auto;
}


.div-btn {
    height:20px;
    width: 60px;
    padding-top: 3px;
    border: 1px solid rgb(201, 199, 199);
    font-size: 10px;
    cursor: pointer;
}

.slider-dots {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(201, 199, 199);
    border-top: none;
    
}

.slider-dots_item {
    border:none;
    cursor: pointer;
    margin: 10px 0 10px;
    width: 20px;
    height: 20px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
   
}

.slider-dots_item.slider-dots_item--active:nth-child(1) {
    background-image: url('../img/1.jpg'); 
}

.slider-dots_item:nth-child(1) {
    background-image: url('../img/11.png'); 
}
.slider-dots_item:nth-child(1):hover {
    background-image: url('../img/111.png');
}

.slider-dots_item.slider-dots_item--active:nth-child(2) {
    background-image: url('../img/2.jpg'); 
}


.slider-dots_item:nth-child(2) {
    background-image: url('../img/22.png');
   
}

.slider-dots_item:nth-child(2):hover {
    background-image: url('../img/222.png');
   
}

.slider-dots_item.slider-dots_item--active:nth-child(3) {
    background-image: url('../img/3.jpg'); 
}


.slider-dots_item:nth-child(3) {
    background-image: url('../img/33.png');
 
}

.slider-dots_item:nth-child(3):hover {
    background-image: url('../img/333.png');
 
}

.slider-dots_item:focus {
    outline: none;
}

.slideText3 {
    font-size: 14px;
    padding-top: 70px;
    margin-bottom: 10px;
}
.slideBtn {
    font-size: 10px;
    color: white;
    height: 30px;
    width: 160px;
    padding-top: 8px;
    background-color: rgb(167, 46, 145);
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}